body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 27%, rgba(8,87,141,1) 38%, rgba(0,212,255,1) 100%);
    color: aliceblue;
}
/* Contenido secundario decoracion */
.contenido-secundario{
    position: sticky;
    top:80px;
    height: fit-content;
}
/* Barra  de navegacion */
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #201e1e;
    text-shadow: 5px 5px 5px #ffffff;
}
.navbar{
    background: rgb(34,37,195);
    background: linear-gradient(0deg, rgba(34,37,195,1) 0%, rgba(45,112,253,1) 100%);
    width: 100%;
    position: sticky;
    top: 0.1px;
    min-height: max-content;
}
.img-logo-nav{
    filter: drop-shadow(0 0 0.75rem rgb(228, 225, 225));
    min-height: 20px;
    width: 40px;
}
/* Aside */
.frase-inspiradora{
    font-size: large;
    font-family: cursive;
}

/* Todas las listas */
ul{
    padding: 0;
    list-style: none;
}
.icon-link{
    color: black;
    font-size: xx-large;
}
/* Encabezado */
header{
    background-image: url('/static/assets/header-portada.webp');
    height: 200px;
    background-position: center;
    background-size: cover;
}
/* Pie de pagina */
footer{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,140,253,1) 100%);
}
.copy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-icon{
    max-width: 200px;
}
.volver{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.links-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Dev Software */
.bottom-section, .top-secction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.img-bottom,.img-top{
    transition: filter .5s;
}
.img-bottom:hover,.img-top{
    filter: drop-shadow(5px 5px 5px #fff);
}
@media (max-width:500px) {
    *{
        text-align: center;
    }
    aside{
        display: none;
    }
    .row{
        justify-content: center;
    }
    .principal-content{
        width: 100%;
    }
    .icon-link{
        font-size: larger;
    }
}