<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Learng wiht me - {%block title%}{%endblock%}</title>
</head>
<body>
  <!-- Encabezado -->
   <header>
    
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <section class="container-fluid">
      <a class="navbar-brand" href="/"><img class="img-logo-nav" src="{{url_for('static',filename = 'assets/icons/Learn_With_Me.webp')}}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <section class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Portafolio</a>
          </li>
        </ul>
        <section class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Material
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Algoritmos</a></li>
                <li><a class="dropdown-item" href="#">Requirimientos</a></li>
                <li><a class="dropdown-item" href="#">Casos de uso</a></li>
                <li><a class="dropdown-item" href="#">Ejercisios</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </section>
    </section>
  
  </nav>
  <!-- Contenido -->
  <div class="container-fluid">
    {%block content%}{%endblock%}
  </div>
  
  <!-- Pie de pagina -->
  <footer>
    <section class="container-fluid text-center links-container">
      <section class="col social-icon">
        <h4>Enlaces rapidos</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre mi</a></li>
          <li><a href="#">Contactame</a></li>
        </ul>
      </section>
      <section class="col text-center social-icon">
        <h4>Redes</h4>
        <ul class="row">
          <li class="col icon-item"><a class="icon-link" target="_blank" href="https://github.com/edierGuerra"><i class="bi bi-github"></i></a></li>
          <li class="col icon-item"><a class="icon-link" target="_blank" href="https://www.linkedin.com/in/edier-guerra-404094335?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BM5EZxPv8RQi4%2BoEe6tg49g%3D%3D"><i class="bi bi-linkedin"></i></a></li>
          <li class="col icon-item"><a class="icon-link" target="_blank" href="https://x.com/edierguerra55"><i class="bi bi-twitter-x"></i></a></li>
        </ul>
      </section>
    </section>
    <section class="text-center copy-container">
      <span>@Copy right 2024</span>
      <a class="volver" href="#">Volver</a>
    </section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>