{%extends 'base.html'%}
<!-- Titulo de la pagina -->
{%block title%}Inicio{%endblock%}
<!-- Aside -->
{%block aside%}
  <h3>Contenido realacionado</h3>
  <ul>
    <li><a href="#">Metodologías agiles</a></li>
    <li><a href="#">Ciclo de vida del software</a></li>
    <li><a href="#">Lenguajes de programación</a></li>
  </ul>
  <hr>
  <h3>Enlaces</h3>
  <ul>
    <li><a href="#desarrollo">Desarrollo de software</a></li>
    <li><a href="#software">Software</a></li>
    <li><a href="#programacion">Programación</a></li>
  </ul>
{%endblock%}
<!-- Main -->
{%block content%}
  <h1 id="desarrollo">Desarrollo de Software</h1>
  <p>¿Alguna vez te has preguntado <strong>cómo convertirte en desarrollador de software?</strong> En este blog descubrirás todo lo necesario para iniciar tu camino en este apasionante campo. Aprenderás sobre áreas clave del desarrollo, incluyendo algoritmos, requisitos, metodologías ágiles, bases de datos, lenguajes de programación, y mucho más. Convertirte en un <strong>desarrollador exitoso</strong> dependerá de tu esfuerzo y dedicación.</p>

  <p>Antes de adentrarnos en la parte técnica, primero aclaremos <strong>¿qué es el desarrollo de software?</strong> En términos sencillos, el desarrollo de software es el proceso de crear, mejorar y optimizar programas que solucionan problemas o facilitan tareas. Para lograrlo, empleamos diversas prácticas, entre las que destacan el desarrollo ágil, los casos de uso, los diagramas UML y la creación de algoritmos. A lo largo de este blog, exploraremos en detalle cada una de estas prácticas.</p>

  <h2 id="software">Software</h2>
  <p><strong>¿Qué es el software?</strong> Podríamos decir que el software es un medio de entretenimiento, una herramienta, un juego, y mucho más. Es decir, el software es todo elemento intangible que se encuentra dentro de un dispositivo móvil o computadora. Por ejemplo, redes sociales, Microsoft Office, Windows, plataformas de streaming... Estos son solo algunos ejemplos de software, y aunque cada uno pertenezca a una categoría diferente, todos siguen siendo software.</p>

  <h2 id="programacion">Programación</h2>
  <p>La <strong>programación</strong> es una herramienta utilizada para crear <strong>software</strong> a través de código, apoyándose en <strong>lenguajes de programación</strong> para lograr este objetivo. Cada lenguaje de programación tiene características únicas y ventajas frente a otros lenguajes; sin embargo, todos comparten algo en común: cuentan con <strong>estructuras</strong> básicas, como condicionales, bucles y estructuras de datos, entre otras. Ademas tambien cuentan con conceptos como varialbes, constantes, operadores, tipos de datos entre otros.</p>
  
  <h2>¿Cómo empezar?</h2>
  <p>Probablemente en este momento te sientas un poco abrumado por toda la información disponible, pero no te preocupes: iremos paso a paso, y verás cómo todo comienza a tomar forma. Para comenzar, primero debemos elegir una <strong>rama del desarrollo</strong>. Existen múltiples áreas en el desarrollo de software, como <strong>frontend</strong>, <strong>backend</strong>, <strong>DevOps</strong>, <strong>análisis de datos</strong> y <strong>ciberseguridad</strong>. Estas son solo algunas de las especialidades entre las que puedes escoger. A continuación, haremos énfasis en algunas de estas áreas para ayudarte a encontrar tu especialidad.</p>
  
    
{%endblock%}
<!-- Aside -->
{%block aside_dos%}
  <h3>!Inpirate!</h3>
  <span class="frase-inspiradora">"Si puedes imgaginarlo, puedes programarlo" </span> - Programación ATS
{%endblock%}